<header>
    <nav class="site-header">
        <ul class="main-menu">
            <li class="main-menu-item">
                <a class="main-menu-link" href="/home">home</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/playgame">play game</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/highscores">high scores</a>
            </li>
            <li class="main-menu-item" ng-if="$ctrl.showlogin">
                <a class="main-menu-link" href="/login">log in</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/signup">sign up</a>
            </li>
            <li class="main-menu-item" ng-if="$ctrl.showlogout">
                <a class="main-menu-link" ng-click="$ctrl.logout">log out</a>
            </li>
        </ul>
    </nav>
</header>