*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: $COLOR_BACKGROUND;
  color: $COLOR_FOREGROUND;

  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $COLOR_ACCENT;

  text-transform: uppercase;
  font-size: small;
}

.content {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 100%;
}
