<!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/all.css" rel="stylesheet" media="screen" th:href="@{/css/all.css}"/>
</head>
<body>
<header>
    <nav class="site-header" th:fragment="header">
        <ul class="main-menu">
            <li class="main-menu-item">
                <a class="main-menu-link" href="/">home</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/play">play game</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/highscores">high scores</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/login">log in</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/signup">sign up</a>
            </li>
            <li class="main-menu-item">
                <a class="main-menu-link" href="/logout">log out</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>