<!DOCTYPE html>
<html data-ng-app="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poker Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript" src="js/angular.min.js"></script>
    <link href="css/all.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div id="content" class="content">
    <table class="highscores">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="highScore : ${highscores}">
                <td th:text="${highScore.rank}">1</td>
                <td th:text="${highScore.name}">UserName</td>
                <td th:text="${highScore.score}">5000</td>
                <td th:text="${#dates.format(highScore.date, 'dd-MMM-yyyy')}">30-May-2016</td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>