<!DOCTYPE html>
<html ng-app="pokerApp">
<head>
    <title>Poker Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<script type="application/javascript" src="js/angular.min.js"></script>-->
    <script type="application/javascript" src="js/angular.js"></script>
    <script type="application/javascript" src="js/angular-route.min.js"></script>
    <script type="application/javascript" src="js/angular-cookies.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="application/javascript" src="js/all.js"></script>
    <link href="css/all.css" rel="stylesheet" />
    <base href="/">
</head>
<body>
<page-header />
<div id="content" class="content">
    <ng-view></ng-view>
</div>
<page-footer />
</body>
</html>