<!DOCTYPE html>
<html ng-app="pokerApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poker Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript" src="js/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="application/javascript" src="js/all.js"></script>
    <link href="css/all.css" rel="stylesheet" />
</head>
<body ng-controller="mainController as bc">
<div th:replace="fragments/header :: header">Header</div>
<div id="content" class="content">
    Hello Guest!<br />
    <!--<div ng-controller="secondController">-->
        <!--<input ng-model="bc.hello" />-->
        <!--{{bc.hello}}-->
        <!--<br />-->
        <!--<button ng-click="bc.louder()">Click me</button>-->
    <!--</div>-->
    <!--<br />-->
    <test-block />
    <hr />
    <signup-form />
    <hr />
    <login-form />
    <hr />
    <highscore />
    <hr />
    <play-game />
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>