<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="application/javascript" src="js/all.min.js"></script>
    <link href="css/all.css" rel="stylesheet" media="screen" th:href="@{/css/all.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="content" class="content">
    <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
        <th:block th:if="${param.error != null}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
        </th:block>
        <fieldset>
            <legend>Please Sign In</legend>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" name="inputName" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="inputPassword" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me" /> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2015 InAction Developers</div>
</body>
</html>