img {
  margin: 5px;
}

.table {
  background: url(../images/table-texture.png);
  border-radius: 10%;

  padding: 50px;

  width: 550px;
  height: 200px;

  margin: 0 auto;
}

.players {
  margin: 20px auto;
  width: 600px;
  height: 250px;
}

.hand {
  color: white;

  width: 200px;
  height: 200px;
  //background: grey;
  padding: 20px;

  margin: 20px;

  float: left;
}