.highscores {
  margin: auto;
}

.highscores thead {
  background-color: #5c7a1f;
}

.highscores thead th {
  padding: 5px 20px;
}

.highscores tbody td {
  margin-left: 0 10px;
  text-align: center;
}