.highscores {
  margin: auto;
}

.highscores thead {
  background-color: #5c7a1f;
}

.highscores thead th {
  padding: 5px 20px;
}

.highscores tbody td {
  margin-left: 0 10px;
  text-align: center;
}

.users  {
  margin: auto;
}

.users thead {
  background-color: #0f377a;
}

.users thead th {
  padding: 5px 20px;
}

.users tbody td {
  margin-left: 0 10px;
  text-align: center;
}